		<div id="footer">
			<ul class="clearfix">
				<li><a href="index.html">home</a></li>
				<li class="link_divider">|</li>
				<li><a href="about.html">about</a></li>
				<li class="link_divider">|</li>
				<li><a href="idea.html">idea</a></li>
			</ul>
		</div>
