		<div id="header"  class="clearfix">
			<div id="logo"><%= image_tag "rails.png" %></div><h1>An Application by Ramyani Ghosh</h1>
			<div id="menu">
				<ul class="clearfix">
				  <li class="link"><a id="home" href="index.html">home</a></li>
					<li class="link_divider">|</li>
				  <li class="link"><a id="about" href="about.html">about</a></li>
					<li class="link_divider">|</li>
				  <li class="link"><a id="idea" href="idea.html">idea</a></li>
				</ul>
			</div>
		</div>
		
